* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
}

.header {
  position: fixed;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}

.navigation {
}

.navigation-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navigation-link:link,
.navigation-link:visited {
  display: inline-block;
  padding: 1.4rem 2.5rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.navigation-link:hover,
.navigation-link:active {
  background-color: #ccc;
  color: #000;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
  list-style-type: none;
  font-size: 3rem;
}

.dropdown:hover > .navigation-link {
  background-color: #ccc;
  color: #000;
}

.dropdown-link:link,
.dropdown-link:visited {
  display: block;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  font-size: 1.4rem;
  padding: 1rem 2rem;
}
.dropdown-link:hover,
.dropdown-link:active {
  background-color: #ccc;
}

/* search */

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}
.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(198px);
}

/* hero section */

.hero {
  width: 100vw;
  height: 100vh;
}

.hero-slider {
  width: 100%;
  overflow: hidden;
}

.slider-slide {
  width: 100%;
  height: 100vh;
  display: none;
}

.slider-img {
  width: 100vw;
  height: auto;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slider-slide.active {
  display: block;
}
.slider-txt {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-txt-header {
  font-size: 3rem;
  font-weight: 400;
}
.slider-txt-p {
  font-size: 2rem;
  margin-top: 1rem;
}

/* band section */
.band {
  width: 100%;
  height: 100vh;
}

.band-members {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.band-description {
  height: 50vh;
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.band-title {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2rem;
  color: #222;
  letter-spacing: 0.5rem;
}
.band-subtitle {
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  color: #666;
}
.band-txt {
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.9;
}

.member-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.band-name{
  font-size: 2rem;
}